* {
    margin: 0;
    padding: 0;
}

.container {
    width: 500px;
    height: auto;
    margin: auto;
    position: relative;
    margin-top: 30px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);
}

.formTitle{
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 23px;
    text-align: center;
}

.formLabel {
    padding-bottom: 7px;
    padding-top: 7px;
    font-size: 14px;
    font-weight: bold;
}

.formInput, .formLabel, .formSubmit {
    display: block;
    margin-left: 20px;
}

.formInput{
    padding: 10px;
    width: 445px;
    border-radius: 1px;
}

.formSubmit {
    margin-top: 20px;
    padding: 10px;
    width: 469px;
    border-radius: 1px;
    font-weight: bold;
}